{% extends 'base.html.twig' %}

{% block title %}Welcom to Symfony TP{% endblock %}

{% block body %}
    <div class="aroundSeller">
        {% for seller in sellers %}
            <a class="btn btn-primary" href="">{{ seller.title }}</a>
        {% endfor %}
    </div>
{% endblock %}
