body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.aroundSeller {
    margin: 2%
}

.formDeleteSeller {
    margin-top: 2%;
}

.marginDivBlock {
    margin: 2%;
}

.linkPostCard {
    text-decoration: none;
}

.postImgShow {
    width: 100%;
}

.datesPostDiv {
    display: flex;
    justify-content: space-between;
}

.publishedDate {
    font-style: italic;
}

.aroundTag {
    margin: 2% 0
}

.tagsGroupPost {
    display: flex;
    align-items: center;
    gap: 1%
}

.tagsPosts {
    font-size: 16pt;
}

.likeButtons {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.imgProduct {
    width: 100%;
}

.productRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10%;
}